*-backups
\#auto_saved_files#
*.xml
*.lib
*.tmp
*.lck
*.bak
*.ini
*.kicad_sch-bak
fp-info-cache
\#auto_saved_files#
Charge Mannager.xml
Charge Mannager.lib
sym-li-table
fp-lib-table

### macOS ###
.DS_Store
